@media (prefers-color-scheme: light) {
  :root {
    --background-header: #ffffff;
    --background-color: #f4f6f9;
    --primary-color: #FF6160;
    --text-color: #373638;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-header: #252a37;
    --background-color: #1d1e26;
    --primary-color: #FF6160;
    --text-color: #ffffff;
  }
}

body,
html {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  display: grid;
  grid-template-areas: "header" "main";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr;
}

button {
  cursor: pointer;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 3px;
}

.main-title {
  font-size: 18px;
  margin: 0;
  color: var(--primary-color);
}

.main-text {
  margin: 0;
  font-weight: bold;
  font-size: 86px;
  color: var(--primary-color);
}

.jp {
  font-family: "M PLUS Rounded 1c";
  font-weight: bold;
  position: relative;
}

main:not(.hide-furigana) .jp::before {
  content: attr(data-reading);
  color: gray;
  font-size: 24px;
  line-height: 1;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.sub-title {
  margin: 0;
  font-size: 14px;
}

.instructions {
  margin: 0;
  font-size: 12px;
}

.instructions span {
  color: var(--primary-color);
  font-weight: bold;
}

.sub-text {
  font-size: 18px;
  margin: 5px 0;
}

.hidden,
.hide-romaji .romaji,
.hide-translation .translation {
  display: none;
}

.main-header {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background: var(--background-header);
  grid-area: header;
  justify-content: space-between;
}

main {
  grid-area: main;
  display: grid;
  grid-template-areas: "sentence kana" "sentence kanji";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 30%;
}

section {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 10px;
}

.inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#sentence {
  grid-area: sentence;
  border-right: 1px solid #ccc;
}

#kanji-container {
  grid-area: kanji;
}

#kana-container{
  grid-area : kana;
  border-bottom: 1px solid #ccc;
}

#kana-container-header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "title button" "instructions button";
}

#kana-container-header .sub-title {
  grid-area: title;
}
#kana-container-header .instructions {
  grid-area: instructions;
}
#kana-container-header #kana-buttons {
  grid-area: button;
}

#kana-container-header #kana-buttons button {
  background: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 10px;
  border-radius: 5px;
}

#kana-container-header #kana-buttons button:not(:last-child) {
  margin-right: 10px;
}


footer {
  background: var(--background-header);
  grid-area: footer;
}

#hiragana-card-main-list,
#katakana-card-main-list {
  flex: 1;
  overflow: auto;
}

kana-board .kana-list {
  display: none;
}

kana-board[hiragana] #katakana-card-main-list,
kana-board[katakana] #hiragana-card-main-list {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(244,246,249,0.80);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-in-out;
}

[open] .modal {
  opacity: 1;
  pointer-events: all;
}

.modal-inner-container {
  width: 635px;
  height: 80vh;
  overflow: hidden;
  background: white;
  display: flex;
  flex-direction: column;
}

.modal-inner-container header {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-title {
  color: var(--primary-color);
  text-transform: uppercase;
  margin: 0;
}

.kana-types-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.kana-types-list li {
  display: inline-block;
}

.kana-types-list li button {
  color: #A1A1A1;
  margin: 15px;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
}

.unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.kana-card-list {
  list-style: none;
  margin: 0 5px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.kana-card {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  display: inline-flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 10px;
}

.kana-value {
  font-size: 36px;
}

.kana-romaji {
  font-size: 18px;
  color: #A1A1A1;
}

kana-board[hiragana] #hiragana-switch,
kana-board[katakana] #katakana-switch {
  color: #212121;
  border-bottom: 1px solid #212121;
}

.close-modal {
  background: #CCCCCC;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 12px;
  color: white;
  border: none;
  font-size: 20px;
}

input[type="text"] {
  border:1px solid var(--primary-color);
  padding: 10px;
  text-align: center;
  font-size: 18px;
  width:80px;
  border-radius: 3px;
}

.guess-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score-container {
  margin: 10px 0;
}