@media (prefers-color-scheme: light) {
  :root {
    --background-header: #ffffff;
    --background-color: #f4f6f9;
    --primary-color: #FF6160;
    --text-color: #373638;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-header: #252a37;
    --background-color: #1d1e26;
    --primary-color: #FF6160;
    --text-color: #ffffff;
  }
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body,
html {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  display: grid;
  grid-template-areas: "header" "main";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr;
}

.main-title {
  font-size: 18px;
  margin: 0;
  color: var(--primary-color);
}

header {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background: var(--background-header);
  grid-area: header;
  justify-content: space-between;
}

main {
  grid-area: main;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-direction: column;
}

label {
  font-size: 14px;
}

.checkbox {
  display: none;
}

.checkbox + label {
  padding-right: 30px;
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 30px;
  cursor:pointer;
  margin: 10px 0;
}

.checkbox + label:before {
  content: '';
  position: absolute;
  right: 0;
  width: 60px;
  height: 30px;
  background: #d7d7d7;
  border-radius: 15px;
  transition: background .3s ease-in-out;
}

.checkbox:checked + label:before {
  background: #FF6160;
}

.checkbox + label:after {
  content: '';
  position: absolute;
  right: 32px;
  top: 3px;
  width: 24px;
  height: 24px;
  background: #ffffff;
  border-radius: 15px;
  transition: right .3s ease-in-out;
}

.checkbox:checked + label:after {
  right: 2px;
}

.option-container {
  width: 400px;
  padding: 20px;
  margin: 5px 0;
  background: white;
}

.block-title {
  color: var(--primary-color);
  margin: 0 0 5px;
  padding: 0 0 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}

select {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  border: 1px solid var(--primary-color);
  background: transparent;
  border-radius: 0;
  height: 40px;
  font-size: 16px;
  padding: 10px 10px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIxOHB4IiBoZWlnaHQ9IjhweCIgdmlld0JveD0iMCAwIDE4IDgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8dGl0bGU+UmVjdGFuZ2xlPC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICAgICAgPHBvbHlnb24gaWQ9IlJlY3RhbmdsZSIgZmlsbD0iI0Q4RDhEOCIgcG9pbnRzPSIyLjg0MTQ3NzA1ZS0xNCAwIDE4IDAgOSA3Ljc5OTY5ODMiPjwvcG9seWdvbj4gICAgPC9nPjwvc3ZnPg==);
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

[hiragana-dropdown] {
  display: none;
}

#hiragana:checked ~ [hiragana-dropdown] {
  display: grid;
}

[katakana-dropdown] {
  display: none;
}

#katakana:checked ~ [katakana-dropdown] {
  display: grid;
}

[hiragana-dropdown],
[katakana-dropdown] {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.dropdown label {
  margin-bottom: 5px;
  display: block;
}